<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper" >

	<resultMap id="ProductSelectMap" type="product">
		<result property = "prodNo" 			column="prod_no" 			jdbcType="INTEGER"/>
		<result property = "prodName"			column="prod_name" 			jdbcType="VARCHAR"/>
		<result property = "prodDetail" 		column ="prod_detail" 		jdbcType ="VARCHAR"/>
		<result property ="manuDate" 		column ="manufacture_day"  jdbcType = "VARCHAR"/>
		<result property = "price"			column = "price" 			jdbcType = "INTEGER"/>
		<result property = "fileName" 		column ="image_file" 		jdbcType="VARCHAR"/>
		<result property = "regDate" 		column ="reg_date" 			jdbcType="TIMESTAMP"/>
	</resultMap>

	<resultMap id="ProductNameMap" type="string">
		<result property="prodName"			column="prod_name" 			jdbcType="VARCHAR" />
	</resultMap>

<!--	&lt;!&ndash; SQL : INSERT &ndash;&gt;-->
<!--	<insert id="addProduct" parameterType="product">-->
<!--		INSERT INTO product( prod_no , prod_name , prod_detail , manufacture_day , price , image_file , reg_date )-->
<!--		VALUES ( NULL, #{prodName} , #{prodDetail} ,-->
<!--				 #{manuDate} , #{price} , #{fileName} , NOW() )-->
<!--	</insert>-->

	<!-- SQL : INSERT -->
	<insert 	id="addProduct"		parameterType="product" >
		INSERT
		INTO product( prod_name , prod_detail , manufacture_day , price , image_file , reg_date )
		VALUES	 ( #{prodName} , #{prodDetail} ,
					 #{manuDate} , #{price} , #{fileName} , NOW() )
	</insert>

	<!-- SQL : SELECT ONE -->
	<select id="getProduct" parameterType="int" resultMap="ProductSelectMap">
		SELECT
			prod_no, prod_name, prod_detail, manufacture_day, price, image_file, DATE_FORMAT(reg_date,'%Y-%m-%d') as reg_date
		FROM product
		WHERE prod_no = # {value}
	</select>

	<!-- SQL : UPDATE -->
	<update id="updateProduct" parameterType="product">
		UPDATE product SET
						   prod_name   = #{userName} ,
						   cell_phone  = #{phone} ,
						   addr        = #{addr} ,
						   email       = #{email}
		WHERE userId=# {userId}
	</update>

<!--	&lt;!&ndash; SQL : SELECT LIST &ndash;&gt;-->
<!--	<select id="getProductList" parameterType="search" resultMap="ProductSelectMap">-->
<!--		SELECT *-->
<!--			FROM (-->
<!--		SELECT *,-->
<!--			@rownum:=@rownum+1 AS row_seq-->
<!--		FROM (-->
<!--			SELECT p.prod_no,-->
<!--				p.prod_name,-->
<!--				p.prod_detail,-->
<!--				p.manufacture_day,-->
<!--				p.price,-->
<!--				p.image_file,-->
<!--				DATE_FORMAT(p.reg_date,'%Y-%m-%d') as reg_date-->
<!--		FROM product p-->
<!--			<if test="searchCondition != null">-->
<!--				<where>-->
<!--					<if test="searchCondition == 0 and searchKeyword !='' ">-->
<!--						p.prod_no = #{searchKeyword}-->
<!--					</if>-->
<!--					<if test="searchCondition == 1 and searchKeyword !='' ">-->
<!--						p.prod_name LIKE CONCAT('%', #{searchKeyword}, '%')-->
<!--					</if>-->
<!--					<if test="searchCondition == 2 and searchKeyword !='' ">-->
<!--						p.price = #{searchKeyword}-->
<!--					</if>-->
<!--				</where>-->
<!--			</if>-->
<!--		ORDER BY p.prod_no) inner_table, (SELECT @rownum:=0) r-->
<!--		) AS result-->
<!--		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}-->
<!--	</select>-->

	<select id="getAutoProductList" parameterType="search" resultMap="ProductNameMap">
		SELECT prod_name FROM (
		SELECT prod_name, @rownum := @rownum + 1 AS rnum FROM product, (SELECT @rownum := 0) AS t
		<where>
			<if test="searchCondition == 1 and searchKeyword != '' and searchKeyword != null">
				AND prod_name LIKE CONCAT('%', #{searchKeyword}, '%')
			</if>
		</where>
		ORDER BY prod_name ASC
		) AS result
		WHERE rnum <= 10
	</select>




	<!-- SQL : SELECT LIST -->
	<select id="getProductList" parameterType="search" resultMap="ProductSelectMap">
		SELECT *
		FROM (	SELECT p.prod_no, p.prod_name, p.prod_detail, p.manufacture_day,
		p.price, p.image_file, DATE_FORMAT(p.reg_date,'%Y-%m-%d') as reg_date
		FROM product p
		<if test="searchCondition != null">
			<where>
				<if test="searchCondition == 0 and searchKeyword !='' ">
					p.prod_no = #{searchKeyword}
				</if>
				<if test="searchCondition == 1 and searchKeyword !='' ">
					p.prod_name LIKE CONCAT('%',#{searchKeyword},'%')
				</if>
				<if test="searchCondition == 2 and searchKeyword !='' ">
					p.price = #{searchKeyword}
				</if>
			</where>
		</if>
		ORDER BY prod_no
		LIMIT #{startRowNum},#{endRowNum})
	</select>






	<!-- SQL : SELECT ROW Count -->
<select id= "getTotalCount" parameterType= "search" resultType= "int">
	SELECT COUNT(*)
	FROM (
	SELECT prod_no,
		prod_name,
		price
	FROM product
		<if test="searchCondition != null">
			<where>
				<if test="searchCondition == 0 and searchKeyword !='' ">
					prod_no = # {search Keyword}
				</if >
				<if test ="search Condition==1 and Search Keyword!=' '' ">
					User_Name=# {Search Keyword}
				</if>
			</where>
		</if> ) countTable
	</select>
</mapper>
