<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PurchaseMapper" >

	<resultMap id="PurchaseSelectMap" type="purchase" >
		<result property="tranNo" 			column="tran_no" 			jdbcType="NUMERIC"/>
		<result property="paymentOption" 	column="payment_option"		jdbcType="VARCHAR" />
		<result property="receiverName" 	column="receiver_name" 		jdbcType="VARCHAR" />
		<result property="receiverPhone" 	column="receiver_phone" 	jdbcType="VARCHAR" />
		<result property="dlvyAddr" 		column="demailaddr" 		jdbcType="VARCHAR" />
		<result property="dlvyRequest" 		column="dlvy_request"	 	jdbcType="VARCHAR" />
		<result property="tranCode" 		column="tran_status_code" 	jdbcType="VARCHAR" />
		<result property="purchaseQuantity" column="purchase_quantity"  jdbcType="NUMERIC" />
		<result property="orderDate" 		column="order_date" 		jdbcType="DATE" />
		<result property="dlvyDate" 		column="dlvy_date"		 	jdbcType="DATE" />

		<association property="buyer" 		javaType="User" >
			<id property="userId"			column="buyer_id"		jdbcType="VARCHAR" />
			<result property="userName"		column="user_name" 		jdbcType="VARCHAR" />
			<result property="password" 	column="password" 		jdbcType="VARCHAR" />
			<result property="role" 		column="role" 			jdbcType="VARCHAR" />
			<result property="ssn" 			column="ssn" 			jdbcType="VARCHAR" />
			<result property="phone" 		column="cell_phone" 	jdbcType="VARCHAR" />
			<result property="addr" 		column="addr" 			jdbcType="VARCHAR" />
			<result property="email" 		column="email" 			jdbcType="VARCHAR"  />
			<result property="regDate" 		column="reg_date" 		jdbcType="DATE" />
		</association>

		<association property="purchaseProd"	javaType="Product" >
			<id property="prodNo"			    column="prod_no"			jdbcType="NUMERIC" />
			<result property="prodName"			column="prod_name" 			jdbcType="VARCHAR"/>
			<result property="prodDetail" 		column="prod_detail" 		jdbcType="VARCHAR" />
			<result property="manuDate" 		column="manufacture_day"	jdbcType="VARCHAR" />
			<result property="price" 			column="price" 				jdbcType="NUMERIC" />
			<result property="prodCount" 		column="prod_count" 		jdbcType="NUMERIC" />
			<result property="fileName" 		column="image_file" 		jdbcType="VARCHAR" />
			<result property="regDate" 			column="reg_date" 			jdbcType="DATE" />
		</association>

	</resultMap>

	<!-- SQL : INSERT -->
	<insert id="addPurchase" parameterType="purchase">
		INSERT INTO transaction (prod_no, buyer_id, payment_option, receiver_name, receiver_phone, purchase_quantity, demailaddr, dlvy_request, tran_status_code, order_data, dlvy_date)
		VALUES (#{purchaseProd.prodNo}, #{buyer.userId}, #{paymentOption}, #{receiverName},
				#{receiverPhone}, #{purchaseQuantity}, #{dlvyAddr}, #{dlvyRequest}, #{tranCode}, NOW(), #{dlvyDate})
	</insert>

	<!-- SQL : SELECT ONE -->
	<select id="getPurchase" parameterType="int" resultMap="PurchaseSelectMap">
		SELECT
			tran_no, prod_no, buyer_id, payment_option, receiver_name, receiver_phone, purchase_quantity, demailaddr, dlvy_request, tran_status_code, DATE_FORMAT(dlvy_date, '%Y-%m-%d') dlvy_date, DATE_FORMAT(order_data, '%Y-%m-%d') order_date
		FROM transaction
		WHERE tran_no = #{tranNo}
	</select>

	<!-- SQL : SELECT LIST -->
	<select id="getPurchaseList" parameterType="search" resultMap="PurchaseSelectMap">
		SELECT *
		FROM (
		SELECT inner_table.*, ROW_NUMBER() OVER () AS row_seq
		FROM (
		SELECT p.prod_no, p.prod_name, t.buyer_id, t.receiver_name, t.receiver_phone, t.purchase_quantity, t.tran_status_code, t.tran_no
		FROM product p, transaction t
		WHERE t.prod_no = p.prod_no
		<if test="searchKeyword != null">
			AND buyer_id = #{searchKeyword}
		</if>
		ORDER BY p.prod_no
		) inner_table
		) AS tmp
		WHERE row_seq BETWEEN #{startRowNum} AND #{endRowNum}
	</select>

	<!-- SQL : SELECT ROW Count -->
	<select id="getTotalCount" parameterType="search" resultType="int">
		SELECT COUNT(*)
		FROM (
		SELECT *
		FROM transaction
		<if test="searchKeyword != null">
			WHERE buyer_id = #{searchKeyword}
		</if>
		) AS countTable
	</select>


</mapper>